body {
  background-color: rgb(212, 202, 202);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.game-header {
  font-size: 18px;
  height: 110px;
  text-align: center;
  padding: 3px;
  margin-bottom: 9px;
  background: rgb(50, 74, 139);
  color: #fff;
}
.mine-field {
  width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 63px);
  grid-template-rows: repeat(8, 63px);
}

.mine {
  color: white;
  background-color: rgb(50, 74, 139);
  border: 1px solid white;
  padding: 15px;
  cursor: pointer;
}

.mine-revealed {
  background-color: #b93e05;
}

.btn {
  display: inline;
  width: 144px;
  height: 45px;
  font-size: 1.2em;
  margin: 9px;
  border: 3px solid transparent;
  border-radius: 9px;
  background-color: rgb(50, 74, 139);
  color: #fff;
}

.rules {
  font-size: 18px;
  height: 210px;
  padding: 1px;
  margin-top: 9px;
  background: rgb(50, 74, 139);
  color: #fff;
}

.msg {
  font-size: 23px;
}
